---
import HeroSection from "./sections/HeroSection.astro";
import CatalogSection from "./sections/CatalogSection.astro";
import ValuesSection from "./sections/ValuesSection.astro";
import ContactSection from "./sections/ContactSection.astro";
---

<div class="flex flex-col gap-24">
  <HeroSection />
  <CatalogSection />
  <ValuesSection />
  <ContactSection />
</div>
