---
import MainLayout from "../layout/MainLayout.astro";
import Header from "../layout/Header.astro";
import Footer from "../layout/Footer.astro";
import HomePage from "./home/HomePage.astro";
---

<MainLayout>
  <div slot="header">
    <Header />
  </div>

  <HomePage />

  <div slot="footer">
    <Footer />
  </div>
</MainLayout>
