---
import ProductCard from "./ProductCard.astro";

// Definimos el tipo de producto
interface Product {
  name: string;
  description: string;
  price: number;
  image: string;
}

// Definimos el tipo de las props del componente
interface Props {
  products: Product[];
}

// Tipamos Astro.props
const { products } = Astro.props as Props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  {
    products.map((product) => (
      <ProductCard
        name={product.name}
        description={product.description}
        price={product.price}
        image={product.image}
      />
    ))
  }
</div>
