---
import ProductCard from "./ProductCard.astro";

interface Product {
  name: string;
  description: string;
  price: number;
  image: string;
}

interface Props {
  products: Product[];
}

const { products } = Astro.props as Props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
  {
    products.map((product) => (
      <ProductCard
        name={product.name}
        description={product.description}
        price={product.price}
        image={product.image}
      />
    ))
  }
</div>
